
.header--height{
  height: 80vh;
}
.about__avatar--margin{
  margin-bottom: 25px;
}
.title-blog{
  @extend .title-about;
  font-size: 63px;
  line-height: 56px;
  color: #fff;

  padding-bottom: 28px;
  margin-bottom: 30px;

  &:after{
    @include underline(white);
  }
}
.main-wrapper--bg{
  background-color: #faf8f0;
}

.triangles--height{
  height: 60px;
    background-color: #faf8f0;
  .triangle{
    background-color: #faf8f0;
  }

  .triangle-left:before{
    border-color: transparent transparent transparent #faf8f0;
  }
  .triangle-right:before{
    border-color: transparent transparent #faf8f0 transparent;
  }
}


.section-blog{
  margin-bottom: 150px;
}

.blog-wrapper{
  font-size: 0;
}

.blog__left{
  padding-left: 40px;
  width: 25%;
}

.blog__right{
  padding: 0 100px;
  width: 75%;
}

.blog{
  
  display: inline-block;
  vertical-align: top;
  color: #566358;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;

  .blog__section{
    border-top: 5px solid rgba(#373e42, 0.07);
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .blog__section:first-child{
    border:none;
    padding-top: 0;
  }
  .blog__title{
    color: #566358;
    font-family: SansusWebissimo;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1;
  }

  .blog__publish-date{
    display: block;
    opacity: 0.7;
    color: #4e8839;
    margin: 0;
    margin-bottom: 20px;
  }
  .blog__img{
    max-width: 100%;
  }

}
.blog__article{
  
  p{

    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}



.blog__nav{
  margin-top: 5px;
}
.nav__item{
  text-align: right;
  margin-bottom: 6px;
}

.nav__link{
  display: inline-block;

  color: #566358;
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding: 10px;
  padding-right: 20px;
  border-right: 3px solid transparent;

  &:hover{
    color: #4e8839;
   /* font-weight: 700;*/
    border-right: 3px solid #6c9c5a;
   // padding-right: 17px;
  }


}