$footer_height: 38PX;

.Background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.Background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}


.data{
  position: absolute;
}

.parallax{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
.parallax__layer{
  width: 110%;
  margin-left: -55%;
  left: 50%;
  height: 110%;
  bottom: -5%;
  position: absolute;
  
  img{
    position: absolute;
    display: block;
    bottom: 0;
    min-width: 100%;
  }
}

.wrapper{
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: transparent url(../img/water-1200.jpg) 0 0 no-repeat;
  background-size: cover;
  margin-bottom: -$footer_height;

  &:after{
    height: $footer_height;
    display: block;
    content: "";
    position: relative;
  }
}

.authorize{
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;  
  padding: 20px 20px 0 20px;
  text-align: right;
}
.authorize__wrapper{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.authorize__link{
  display: inline-block;
  height: 45px;
  padding: 0px 30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border: 1px solid #fff;

  &:hover{
    background-color: #4e8839;
    border: 1px solid #729e19;
  }

  @include center-inline;
}


.footer-welcome{
  height: $footer_height;
  line-height: $footer_height;
  position: relative;
  // padding: 40px 0;
}
.footer__copyright{
  color: white;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
}

.welcome{
  //display: flex;
  height: 100%;
  font-family: Roboto;
  position: relative;
  z-index: 1;
}
.win{
  width: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  perspective: 700px; 
  
}
.welcome__box{
  // margin: auto;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(#122620, 0.6);

  overflow: hidden;
  position: relative;
  z-index: -1;
  
  transition: transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;

}
.front{
  z-index: 1;
}
:target .back{
  z-index: 2;
}
.front .welcome__box{
  position: relative;
  
}
.back .welcome__box{
  transform: rotateY( 180deg );
}
//Задний повернут
:target .back .welcome__box{
  transform: rotateY( 0deg );
}
//Передний отвернут
:target .front .welcome__box{
  transform: rotateY( -180deg );
}
:target .authorize{
  visibility: hidden;
}


.welcome__body{
  padding-top: 40px;
  text-align: center;
  margin-bottom: 84px;
}
.welcome__body--authorize{
  margin: 0;
  padding-top: 35px;
  .title{
    margin-bottom: 31px;
  }
}
.about{
  text-align: center;
  display: inline-block;
}
.about__avatar{
  width: 141px;
  height: 141PX;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e2e2e2;
  margin: 0 auto;
  margin-bottom: 18px;
}
.about__img{
  width: 100%;
}

.about__author{
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
}

.about__text{
  opacity: 0.8;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 34px;
}

.icon{
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #fff;
}

.socials{
  white-space: nowrap;
}
.socials--opacity05{
    opacity: .5;
}

.socials__link{
  text-decoration: none;
  display: inline-block;
  margin-left: 29px;

  &:first-child{
    margin-left: 0;
  }
  
  
  &:hover .icon{
    fill: #4e8839;
    opacity: 1;
  }

}

.icon--vk{
  width: 30px;
  height: 21px;
}
.icon--github{
  width: 26px;
  height: 22px;
}
.icon--in{
  width: 24px;
  height: 25px;
}



.welcome-menu{
  display: table;
  // height: 45px;
  line-height: 44px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.welcome-menu__item{
  display: table-cell;
  position: relative;

  &:before{
    position: absolute;
    left: -1px;
    z-index: 1;
    content:'';
    width: 2px;
    height: 100%;
    opacity: 0.5;
    background-color: #dee3e7;
  }
  &:first-child:before{
    content: none;
  }
}
.welcome-menu--50{
  .welcome-menu__item{
    width: 50%;
  }
}
.welcome-menu__link{
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0 28px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #6c9c5a;
  white-space: nowrap;
  
  &:hover{
    background-color: #4e8839;
  }

}

.title{

  color: white;
  font-family: SansusWebissimo;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 28px;
}
.title--underline:after{
   @include underline(white);
}


.form{

  .form__buttons{
    display: block;
    width: 100%;
    font-size: 0;
  }
  .form__button{
    padding: 0;
    cursor: pointer;
    line-height: 45px;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    border: none;
    outline: none;
    text-align: center;
    color: #fff;
    background-color: #6c9c5a;
    position: relative;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;

    &:hover{
      background-color: #4e8839;
    }

    &:before{
      position: absolute;
      left: -1px;
      z-index: 1;
      content:'';
      width: 2px;
      height: 100%;
      opacity: 0.5;
      background-color: #dee3e7;
    }
    &:first-child:before{
      content: none;
    }
  }

  .input--text{
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    border: 0;
    outline: none;
    padding-left: 64px;
    padding-right: 20px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;

    @include placeholder{
      opacity: 0.5;
      color: #373e42;
    }    
  }
  
  .must-fill, .textarea.must-fill{
    border: 1px solid #e31e24;
    background-color: #fde9ea;
  }
}

.form--authorize .input--text{
  padding: 0 20px;
    display: table-cell;
    width: 100%;
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
.form--authorize .form__group{
  display: table;
}
.form__group{
  @include clearfix;
  position: relative;
  width: 340px;
  height: 45px;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;

  .icon-wrapper{
    // position: absolute;
    // float: left;
    // left: 0;
    display: table-cell;
    // height: 45px;
    width: 45px;
    line-height: 45px;
    background-color: #f0efe9;    
  }
  .icon{
    opacity: 1;
    margin: auto;
    fill: #c4cbcd;
  }

  .icon--login{
    width: 15px;
    height: 17px;
  }
  .icon--password{
    width: 18px;
    height: 17px;
  }
}


.check{
  margin-bottom: 16px;
}


.check__wrap{
  width: 20px;
  height: 20px;
  background-color: #6c9c5a;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  position: relative;
  
  .icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    margin: auto;  
  }
  .icon--check{
    width: 12px;
    height: 9px;

  }
}

.check__checkbox{
  position: absolute;
  left: -9999px;
}

.check__text{
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  opacity: .8;
}

.check__checkbox+.check__wrap .icon--check{
  display: none;
}
.check__checkbox:checked+.check__wrap .icon--check{
  display: inline-block;
  color: #8cc34b;
}

.form__question{
  opacity: 0.8;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

.radiobox{
  display: inline-block;
  margin-bottom: 37px;
}
.radiobox__label{
  display: inline-block;
  vertical-align: middle; 
  position: relative;
  padding-left: 28px;
  margin-left: 40px;
   
}
.radiobox__label--first{
  margin-left: 0px;  
}
.radiobox__input{
  display: none;
}

.radiobox__text{
  opacity: 0.8;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}


.radiobox__label:before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
}

.radiobox .radiobox__label:before {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.radiobox__input:checked + .radiobox__label span:before {
 /* content: "\2022";
  color: #6c9c5a;
  font-size: 36px;
  text-align: center;
  line-height: 16px;*/

  content: "";
  display: inline-block;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  bottom: 7px;

  background-color: #6c9c5a;
  
}

.close{
  opacity: 1;    
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: .5;
}
.close:hover .icon--close{
  fill: #4e8839;
}

