
.triangles{
  font-size: 0;
}
.triangle{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  background-color: #f8f9f5;
  padding: 60px;
  padding-top: 0;
  
  &:before{
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -200px;
  }
}

.triangle-left{

  &:before{
    float: right;
    margin-right: -60px;
    border-width: 200px 0 0 1000px;
    border-color: transparent transparent transparent #f8f9f5;
  }
}
.triangle-right{

  &:before{
    position: absolute;
    float: left;
    margin-left: -60px;
    border-width:  0 0 200px 1000px;
    border-color: transparent transparent #f8f9f5 transparent;
  }
}


.section-works-title{
  background-color: #f8f9f5;
  padding-bottom: 40px;
  position: relative;
}
.title-works{
  @extend .title-about;
  line-height: 66px;
  line-height: 56px;
  padding-bottom: 32px;
  position: relative;
  z-index: 1;
}

.title-works-bg{
  position: absolute;
  top: -10px;
  height: 165px;
  width: 100%;
 
  .icon{
    height: 100%;
    width: 100%;
    fill:#eaf0dc;
  }
}
.title--nomargin{
  margin: 0 auto;
}
.title-about--short-400{
  max-width: 380px; 
  margin: 0 auto;
}

.section-slider{
  font-size: 0;
  position: relative;
  background-color: #ebefe2;
}

.slider__page{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.slider__page-left{
  text-align: center;

  
}
.description{

  .description__title{
    @extend .title-about;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 23px;
    line-height: 41px;
    padding-bottom: 25px;
  }
  .description__text{
    color: #4e8839;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 55px;
  }
  .description__link{
    height: 45px;
    line-height: 45px;
    padding: 0 23px;
    border-radius: 25px;
    background-color: #6c9c5a;
    display: inline-block;

    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;

    .icon{
      vertical-align: middle;
      width: 20px;
      height: 19px;
    }
    span{
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
    }
  }
}
.description--margin{
  margin-bottom: 23px;
  line-height: 41px;
  padding-bottom: 25px;
}

.slider__page-right{
  background-color: #e1e4d7;

}
.slider__show{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.slider__show-img{
  width: 100%;
  max-width: 90%;
  max-height: 90%;
}

.slider__buttons{
  font-size: 0;
}
.slider__button{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  
  .slider__arrow{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    
    &:hover .icon{
      opacity: 1;
    }
    .icon{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: .7;
      width: 43px;
    }
  }
}
.slider__button-left{

}
.slider__button-right{
  
}
.slider__button-img{
  width: 100%;
  height: auto;
}

.section-review{
  padding-top: 70px;
  background-color: #f4f5f0;
  position: relative;

  .icon-list2{
    @include sprite($icon-list2);
    position: absolute;
    left: 40px;
    top: 90px;
  }
}

.reviews{
  font-size: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.review{
  width: 25%;
  width: 380px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.title-review{
  @extend .title-about;
  line-height: 66px;
  padding-bottom: 32px;
  position: relative;
  z-index: 1;
}


.review-about-bg{
  position: absolute;
  top: 40px;
  height: 175px;
  width: 100%;
 
  .icon{
    height: 100%;
    width: 100%;
    fill:#eaf0dc;
  }
}
.review:first-child{
  margin-left: 0px;
}
.review__avatar{
  @extend .about__avatar;
  width: 78px;
  height: 78px;
  text-align: center;
  margin-bottom: 15px;
}

.review__text{
  height: 66px;
  color: #5d5a55;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  margin-bottom: 30px;
  text-align: left;
  position: relative;
  z-index: 1;

  .icon-quote{
    @include sprite($icon-quote);
    
    position: absolute;
    top: -22px;
    left: 0px;
  }
}

.review__author{
  color: #4e8839;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  font-style: italic;
}

.review__about{
  @extend .review__author;
  color: #373e42;
  font-style: italic;
}

.section-feedback{
  background: url(../img/feedback-bg.jpg) 0 bottom no-repeat;
  background-size: cover;
  padding: 60px 0 200px;

  position: relative;

  .icon-list1{
    @include sprite($icon-list1);
    position: absolute;
    left: 10%;
    top: 20%;
  }
  .icon-list3{
    @include sprite($icon-list3);
    position: absolute;
    right: 5px;
    top: 15px;
  }
}

.feedback{
    width: 380px;
    background-color: rgba(#e0e0dc, .6);
    border-radius: 5px;
    margin: 0px auto;
    overflow: hidden;
    padding-top: 29px;
    position: relative;
    
    .feedback__title{
      @extend .title-about;
      line-height: 41px;
      margin-bottom: 30px;
      padding-bottom: 25px;
    }

    .input{
      padding-left: 20px;
    }
    .form__group--textarea{
      height: auto;
      margin-bottom: 16px;
    }
    .textarea{
      width: 340px;
      height: 140px;
      display: inline-block;
      border-radius: 25px;
      border: 0;
      outline: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 13px;

      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
    }
  


}

.section-feedback__arrow-up{
      width: 100%;
      text-align: center;
      opacity: 0.7;
      
      &:hover{
        opacity: 1;
      }
}