footer.main-footer
		.footer
			.footer__item
				p.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
			.footer__item
				.footer__menu
					+menu("footer-menu", {'Мои работы': 'works.html', 'Обо мне': 'about.html', 'Блог': 'blog.html', 'Авторизация': '/#authorize' })
				.socials.socials--floatleft
					+socials("socials", socials)
			.footer__item
				blockquote.blockquote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				.blockquote-author — Martin Golding
		.main-footer__copyright © Корепанов Иван | создано с любовью в LoftSchool | 2016