svg.triangles(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 160', preserveaspectratio='none')
  polygon.triangle.triangle-left(points='0,0 50,160 0,160')
  polygon.triangle.triangle-right(points='50,160 100,160 100,0')
