ul.skills-blocks
	li.skills-blocks__item
		.skills-blocks__title Frontend
		ul.skills
			li.skills__item
				.skills__title HTML
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %
			li.skills__item
				.skills__title CSS
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %
			li.skills__item
				.skills__title JavaScript
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %
	li.skills-blocks__item
		.skills-blocks__title Workflow
		ul.skills
			li.skills__item
				.skills__title GIT
				input(type="text" maxlength="3").input-text.input-text--skills 
				span.skills__unit %
			li.skills__item
				.skills__title GULP
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %
			li.skills__item
				.skills__title Bower
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %
	li.skills-blocks__item
		.skills-blocks__title Backend
		ul.skills
			li.skills__item
				.skills__title PHP
				input(type="text" maxlength="3").input-text.input-text--skills 
				span.skills__unit %
			li.skills__item
				.skills__title Mongo.db
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %
			li.skills__item
				.skills__title Node.js
				input(type="text" maxlength="3").input-text.input-text--skills
				span.skills__unit %