
@mixin centered() {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin large {
  @media screen and (min-width: 1801px){
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1200px){
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px){
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin center-inline{
  &:before{
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
  }
}
@mixin clearfix{
	&:after, &:before{
		display: table;
		content: "";
	}
	&:after{
		clear: both;
	}
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


@mixin underline($bgcolor:white,$width:89px,$height:3px){
	content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: $width;
  height: $height;
  background-color: $bgcolor;
}



@mixin showPrev(){
  animation-name: showPrev;
  animation-duration: .5s;
  animation-timing-function: linear;
}
@keyframes showPrev{
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@mixin showNext(){
  animation-name: showNext;
  animation-duration: .5s;
  animation-timing-function: linear;
}
@keyframes showNext{
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}


@mixin fadeInLeft(){
  animation-name: fadeInLeft;
  animation-duration: .5s;
  animation-timing-function: linear;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@mixin opacityIn(){
  animation-name: opacityIn;
  animation-duration: .7s;
  animation-timing-function: linear;
}
@keyframes opacityIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$shtorka_duration: 0.5;

@mixin bounceIn(){
  animation-name: bounceIn;
  animation-duration: #{$shtorka_duration*2}s;
  animation-timing-function: ease;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale3d(.5, .5, .5);
  }
  80% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@mixin shtorka(){
  animation-name: shtorka;
  animation-duration: #{$shtorka_duration}s;
  animation-timing-function: ease;
}
@keyframes shtorka {
  0% {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

