
@mixin desktop {
  @media screen and (max-width: 1200px){
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px){
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin center-inline{
  &:before{
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
  }
}
@mixin clearfix{
	&:after, &:before{
		display: table;
		content: "";
	}
	&:after{
		clear: both;
	}
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


@mixin underline($bgcolor:white,$width:89px,$height:3px){
	content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: $width;
  height: $height;
  background-color: $bgcolor;
}



