
.overlay{
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &:before, &:after{
    content:'';
    position: absolute;
    z-index: -1;
    height: 100%;
    background-color: rgba(#6c9c5a, 0.87);
    @include shtorka;
  }
  &:after{
    right: 0;
  }

}

.body-overlay .overlay{
  display: flex;
  &:before, &:after{
    width: 50%;
  }
}
.overlay-menu{
  margin: auto;

  color: white;
  font-family: SansusWebissimo;
  font-size: 63px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

}
.overlay-menu__item{
 
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;
  @include bounceIn;
}

@for $i from 2 through 4 {
  .overlay-menu__item:nth-of-type(#{$i}) {
    animation-duration: #{$shtorka_duration*2.0+$i/10}s;    
  }
}


.overlay-menu__link{
  color: #fff;
}
.overlay-menu__item .overlay-menu__link:after{
  content:'';
  visibility: hidden;
  transition: all 0.2s ease-in-out 0s;
  transform: scaleX(0);
}
.overlay-menu__item:hover .overlay-menu__link:after{
  visibility: visible;
  @include underline(white);
  transform: scaleX(1);
}