@font-face {
    font-family: 'SansusWebissimo';
    src: url('../fonts/sansus-webissimo-regular-webfont.eot');
    src: url('../fonts/sansus-webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/sansus-webissimo-regular-webfont.woff') format('woff'),
         url('../fonts/sansus-webissimo-regular-webfont.ttf') format('truetype'),
         url('../fonts/sansus-webissimo-regular-webfont.svg#sansus_webissimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';/*regular*/
    src: url('../fonts/roboto/roboto-webfont.eot');
    src: url('../fonts/roboto/roboto-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';/*bold*/
    src: url('../fonts/roboto/robotobold-webfont.eot');
    src: url('../fonts/roboto/robotobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotobold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotobold-webfont.woff') format('woff'),
         url('../fonts/roboto/robotobold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/robotobold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';/*bold-italic*/
    src: url('../fonts/roboto/robotobolditalic-webfont.eot');
    src: url('../fonts/roboto/robotobolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotobolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotobolditalic-webfont.woff') format('woff'),
         url('../fonts/roboto/robotobolditalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/robotobolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';/*light*/
    src: url('../fonts/roboto/robotolight-webfont.eot');
    src: url('../fonts/roboto/robotolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotolight-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotolight-webfont.woff') format('woff'),
         url('../fonts/roboto/robotolight-webfont.ttf') format('truetype'),
         url('../fonts/roboto/robotolight-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';/*light-italic*/
    src: url('../fonts/roboto/robotolightitalic-webfont.eot');
    src: url('../fonts/roboto/robotolightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotolightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotolightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto/robotolightitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/robotolightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';/*medium*/
    src: url('../fonts/roboto/robotomedium-webfont.eot');
    src: url('../fonts/roboto/robotomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotomedium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotomedium-webfont.woff') format('woff'),
         url('../fonts/roboto/robotomedium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/robotomedium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';/*medium-italic*/
    src: url('../fonts/roboto/robotomediumitalic-webfont.eot');
    src: url('../fonts/roboto/robotomediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/robotomediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotomediumitalic-webfont.woff') format('woff'),
         url('../fonts/roboto/robotomediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/robotomediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}