extends ../_test

block variables
	- var title = 'Мои работы'
	- var bodyClass = 'body-works'

block content
	.main-wrapper#top

		section.section-feedback
			.icon-list3
			.icon-list1
			
			.messagebox-wrapper
				.messagebox
					.messagebox__close
						+icon('close')
					.messagebox__title Сообщение
					.messagebox__text Вы не ввели Имя!

			.feedback
				h2.feedback__title.title-about--short Связаться со мной
				form.form.feedback__form(action='#' method="POST")
					.form__group
						input.input(type="text" placeholder="Имя" name="name" )
					.form__group
						input.input(type="text" placeholder="Email" name="email" )
					.form__group.form__group--textarea
						textarea.textarea(name='subject' placeholder='Ваше сообщение' )
					.form__buttons
						button.form__button.form--submit(name='submit', type='submit') Отправить
						button.form__button.form--reset(name='clear', type='reset') Очистить